<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>
    <!-- Spring mvc 扫描使用注解的包路径 -->
    <context:component-scan base-package="com.skr.controller"/>
    <context:component-scan base-package="com.skr.service"/>
    <context:component-scan base-package="com.skr.dao"/>

    <context:component-scan base-package="com.chanshiguan365.controller"/>
    <context:component-scan base-package="com.chanshiguan365.service"/>
    <context:component-scan base-package="com.chanshiguan365.dao"/>
    <context:component-scan base-package="com.chanshiguan365.filter"/>

    <bean
            class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true" />
        <property name="prefix" value="" />
        <property name="suffix" value=".ftl" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="requestContextAttribute" value="request" />
        <property name="contentType" value="text/html; charset=utf-8" />
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
    </bean>

    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="configuration" ref="freemarkerConfiguration" />
    </bean>

    <bean id="freemarkerConfiguration"
          class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="templateLoaderPaths">
            <list>
                <value>/freemarker/</value>
            </list>
        </property>
        <property name="configLocation">
            <value>classpath:conf/freemarker/freemarker.properties</value>
        </property>
        <property name="defaultEncoding" value="utf-8" />
        <property name="freemarkerVariables">
            <map>
                <!--<entry key="xml_escape" value-ref="fmXmlEscape"/>-->
                <!--<entry key="html_escape" value-ref="fmHtmlEscape"/>-->
                <!-- <entry key="base" value="@{base}"/>-->
                  <!--<entry key="appVersion" value="@{appVersion}"/>-->
                  <!--<entry key="imgUrl" value-ref="fmImgUrl"/>-->
                <!--下面四个是实现freemarker模板的继承功能-->
                <!-- <entry key="extends" value-ref="extendsDirective"/>-->
                 <entry key="override" value-ref="overrideDirective"/>
                 <!--<entry key="block" value-ref="blockDirective"/>-->
                 <!--<entry key="super" value-ref="superDirective"/>-->
                <!-- 权限自定义标签 -->
                <!--<entry key="menu" value-ref="menuDirective" />-->
                 <!--<entry key="display" value-ref="displayDirective" />-->
                 <!--<entry key="displayNew" value-ref="displayNewDirective" />-->
                 <!--<entry key="menuNew" value-ref="menuNewDirective" />-->
            </map>
        </property>
    </bean>
    <bean id="overrideDirective" class="cn.org.rapid_framework.freemarker.directive.OverrideDirective"/>
    <bean id="myFilter" name="myFilter" class="com.chanshiguan365.filter.LoginFilter"></bean>
</beans>
