<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
>
    <context:property-placeholder location="classpath:conf/dataSource.properties" />
    <!-- dal 数据源 -->
    <import resource="classpath:conf/spring/spring-dal.xml"/>
    <bean name="myFilter" id="myFilter" class="com.chanshiguan365.filter.LoginFilter"></bean>
    <bean name="csgService" id="csgService" class="com.chanshiguan365.service.impl.CsgServiceImpl">
        <property name="csgDao" ref="csgDao"/>
    </bean>
    <bean name="csgDao" id="csgDao" class="com.chanshiguan365.dao.impl.CsgDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

</beans>